#-*-Makefile-*- vim:syntax=make
#
# The exp5438_2520 platform is based on the TI MSP-EXP430F5438
# evaluation board.   The platform has connectors that allow the
# addition of various radio modules as well as other devices.
#
# This platform provides basic support for the base eval board
# coupled with support for the CC2520EM radio module.  This
# provides a CC2520 radio without the range extender.
#
# For support for the CC2520 with the range extender see the
# platform exp5438_2591, which uses the CC2520-2591EM eval
# module.
#
# You should be using the 5438a.   The 5438 is buggy and has a large
# number of errata.
#
# support/make/platforms/exp5438_2520.platform sets what cpu we are using.
#

TARGET = exp5438_2520
PLATFORM_DIR = $(TINYOS_ROOT_DIR)/tos/platforms/$(TARGET)

BUILD_NUM_FILE = $(PLATFORM_DIR)/_Build
BUILD_NUM := $(shell if [ -f $(BUILD_NUM_FILE) ]; then echo $$(($$(cat $(BUILD_NUM_FILE)) + 1)); else echo 0; fi)

PFLAGS += -D_BUILD=$(BUILD_NUM)

$(call TOSMake_include_platform,exp5438_2520)
$(call TOSMake_include_make_platform,msp)

build_num: FORCE
	@if [ ! -f $(BUILD_NUM_FILE) ] ; then echo -1 > $(BUILD_NUM_FILE); fi
	@echo $$(($$(cat $(BUILD_NUM_FILE)) + 1)) > $(BUILD_NUM_FILE)
	@echo BUILD: $(BUILD_NUM)

exp5438_2520: build_num $(BUILD_DEPS)
        @:
