#-*-Makefile-*- vim:syntax=make

TARGET = moteist5
MSP_MCU = msp430f5438a

$(call TOSMake_include_platform,moteist5)
$(call TOSMake_include_make_platform,msp)

moteist5: $(BUILD_DEPS)
        @:
