#-*-Makefile-*- vim:syntax=make

TARGET = surf

MSP_BSL ?= cc430-bsl
MOTELIST ?= motelist

MSP_BSL_FLAGS = --surf

MSP_MCU ?= cc430f5137
MSP_GCC ?= msp430-gcc
MSP_NESC_TARGET ?= msp430

# Unless otherwise specified, assume revision B2 of the SuRF board
SURF_REV ?= A
HAS_FLASH ?= 1


PLATFORM ?= surf
MSP_MCU = cc430f5137
PFLAGS += -DSURF_REV_$(SURF_REV)
PFLAGS += -DPLATFORM_HAS_FLASH=$(HAS_FLASH)

$(call TOSMake_include_platform,surf)
$(call TOSMake_include_make_platform,msp)

surf: $(BUILD_DEPS)
        @:

